@import '../../variables.scss';

.slideshow {
    display: flex;
    flex-direction: row;
    background-color: $light-background;
}

.slide-image {
    width: 50%;
    height: 40rem;
    object-fit: cover;
}

.slideshow-item {
    flex: 1 1 50%;
}

.slide-text {
    text-align: center;
    padding: 16rem 2rem 0;
    vertical-align: middle;
}

.slide-p {
    font-size: small;
    font-weight: 300;
}

.slide-link {
    text-decoration: underline;
    text-transform: uppercase;
}

.main-text {
    word-wrap: break-word;
    text-transform: none;
}

@media screen and (width <=1024px) {
    .slideshow {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .slideshow-item {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .slide-image {
        width: 100%;
    }

    .slide-text {
        padding: 1rem;
        left: 0;
        right: 0;
    }
}

@media screen and (width <=480px) {
    .slide-text {
        font-size: small;
        padding: 0;
    }

    .slide-p {
        font-size: x-small;
    }
}
