@import '../../variables.scss';

.contacts-info {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    justify-content: center;
}

.contacts-section {
    flex: 0 0 15rem;
    text-align: left;
    border: 1px solid $secondary-color;
    padding: 1rem 2rem;
}

.text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-text {
    margin-left: 1rem;
}
