.contacts-info {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    justify-content: center;
}

.contacts-section {
    flex: 0 0 15rem;
    text-align: left;
    border: 1px solid var(--dark-background);
    padding: 1rem 2rem;
}

.contact-section__text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contacts-section__text {
    text-transform: none;
    margin-left: 1rem;
}