@import '../../variables.scss';

.button-wrapper {
    width: 100%;
}

.button {
    text-align: center;
    padding: 0.7rem;
    text-decoration: none;
    margin: 1%;
    white-space: nowrap;
}

.button-primary {
    border: 2px solid $secondary-color;
    background-color: $secondary-color;
    border-radius: 7px;
    color: white;
    transition: 0.5s;
}

.button-primary:hover {
    background-color: $secondary-color;
    border: 2px solid white;
    transition: 0.5s;
}

.button-secondary {
    border: 2px solid black;
    background-color: white;
    border-radius: 7px;
    color: black;
    transition: 0.5s;
}

.button-secondary:hover {
    color: $secondary-color;
    border: 2px solid $secondary-color;
    transition: 0.5s;
}