.pinkpanther-shop-by-cut {
    max-width: 1440px;
    margin: 0 auto;
}

.pinkpanther-shapes-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem 0;
    gap: 3rem;
}

.pinkpanther-single-shape {
    flex: 1;

    &:hover .pinkpanther-single-shape-image {
        transition: .5s;
        transform: scale(1.2);
    }
}

.pinkpanther-single-shape-image {
    height: 3rem;
    transition: .5s;
}

.pinkpanther-shape-name {
    text-transform: capitalize;
    text-decoration: none;
}
