@import "../../variables.scss";

.pinkpanther-shop-by-cut-wrapper {
  background-color: $tertiary-color;
  padding: 1rem 1rem;
}

.pinkpanther-shop-by-cut {
  max-width: 1440px;
  margin: 0 auto;
}

.pinkpanther-shop-by-cut-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem 0;
  gap: 2rem;
}

.pinkpanther-shop-by-cut-item {
  flex: 1;
  text-transform: uppercase;

  &:hover .pinkpanther-shop-by-cut-item-image {
    transition: 0.5s;
    transform: scale(1.2);
  }

  & > *h5 {
    margin: 1rem;
  }
}

.pinkpanther-shop-by-cut-item-image {
  height: 3.5rem;
  width: auto;
  transition: 0.5s;
}
