@import '../../variables.scss';

.pinkpanther-shop-by-cut-wrapper{
    background-color: $tertiary-color;
    padding: 1rem 0;
}

.pinkpanther-shop-by-cut {
    max-width: 1440px;
    margin: 0 auto;
}

.pinkpanther-shop-by-cut-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem 0;
    gap: 3rem;
}

.pinkpanther-shop-by-cut-item {
    flex: 1;

    &:hover .pinkpanther-shop-by-cut-item-image {
        transition: .5s;
        transform: scale(1.2);
    }
}

.pinkpanther-shop-by-cut-item-image {
    height: 3rem;
    transition: .5s;
}
