.pinkpanther-hero {
  overflow: hidden;
  position: relative;
  height: 100dvh;
}

.pinkpanther-hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pinkpanther-hero-text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #4a3f39;
  background: linear-gradient(
    0deg,
    rgb(29, 25, 23) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  text-align: center;
  box-sizing: border-box;
  color: #fff;
  padding: 8rem 1.5rem;
}
