@import '../../variables.scss';

.main-blurb {
    padding: 0 17% 3rem;
}

.main-blurb p,
.single-value p,
.quote-wrapper p {
    text-transform: none;
}

.explore-link {
    text-decoration: underline;
}

.values-wrapper {
    background-color: $light-background;
    display: flex;
    flex-flow: row nowrap;
    gap: 8rem;
    justify-content: center;
    padding: 2.5rem 0;
}

.single-value {
    flex: 0 0 15%;
}

.quote-wrapper {
    padding: 2% 15%;
}

@media screen and (width <=1000px) {
    .values-wrapper {
        gap: 3rem;
    }
}

@media screen and (width <=700px) {
    .values-wrapper {
        flex-direction: column;
        gap: 1rem;
        padding: 0 3rem;
    }

    .main-blurb {
        padding: 0 5% 3rem;
    }

    .quote-wrapper {
        padding: 2% 5%;
    }
}

@media screen and (width <=395px) {
    .values-wrapper {
        gap: 0;
    }
}
