@import '../../variables.scss';

.pinkpanther-about-us-blurb {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem 2.5rem 2rem;
}

.pinkpanther-our-values {
    background-color: $tertiary-color;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: 2.5rem 2rem;

    @media (min-width: 700px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.pinkpanther-value {
    flex: 1;
}

.pinkpanther-quote {
    padding: 2% 15%;
}