@import "../../variables.scss";

.pinkpanther-features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-content: center;
  padding: 2.5rem 2rem;
  max-width: 1440px;
  margin: auto;

  @media (min-width: 700px) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1000px) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
