.styles-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5rem;
    flex-direction: row;
    align-content: center;
    gap: 2rem;
}

.single-style {
    flex: 0 0 auto;
    opacity: 1;
    transition: opacity 0.5s;
}

.single-style:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.single-style__image {
    max-width: 35rem;
}

a h3 {
    text-decoration: underline;
}

@media screen and (max-width: 1366px) {

    .styles-list {
        padding: 0;
        gap: 1rem;
    }

    .single-style__image {
        max-width: 30rem;
    }
}

@media screen and (max-width: 1024px) {
    .single-style__image {
        max-width: 21rem;
    }
}

@media screen and (max-width: 363px) {
    .single-style__image {
        max-width: 15rem;
    }
}