.Slideshow {
    display: flex;
    flex-direction: row;
    background-color: var(--light-background);
}

.slide-image {
    width: 50%;
    height: 40rem;
    object-fit: cover;
}

.slideshow__item {
    flex: 1 1 auto;
}

.slide-text {
    text-align: center;
    padding: 16rem 2rem 0 2rem;
    vertical-align: middle;
}

.slide-text__p {
    font-size: small;
    font-weight: 300;
}

.slide-link {
    text-decoration: underline;
    text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
    .Slideshow {
        display: flex;
        background-color: white;
        justify-content: center;
    }

    .slideshow__item {
        box-sizing: inherit;
        overflow: hidden;
    }

    .slide-text {
        position: absolute;
    }
}