@import '../../variables.scss';

.item-detail {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: center;
}

.product-name {
    text-transform: capitalize;
}

.item-pictures-container {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    place-content: start center;
    flex: 1 1 60%;
}

.item-text {
    margin-bottom: 3rem;
    text-transform: none;
}

.item-text-container {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    flex: 1 1 30%;
    width: 40%;
}

.item-image {
    width: 47%;
    border: 1px solid $primary-color;
    transition: transform .5s;
}

.item-image:hover {
    transform: scale(1.02);
    transition: transform .5s;
}

.item-descriptor,
.column {
    text-transform: capitalize;
}

.buttons {
    width: 100%;
}

.item-details {
    padding: 1rem;
    width: 100%;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.column {
    flex: 1 1 50%;
    margin: 0.4rem auto;
}

.carats {
    text-transform: lowercase;
}

@media screen and (width <=900px) {
    .item-detail {
        flex-direction: column;
        gap: 0;
    }

    .item-text-container {
        width: auto;
        padding: 0 1rem;
    }
}

@media screen and (width <=395px) {
    .item-pictures-container {
        gap: 0.1rem
    }
}
