@import '../../variables.scss';

.pinkpanther-product-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 2rem;

    @media (min-width: 900px) {
        display: grid;
        width: 100%;
        grid-template-columns: 70% 30%;
    }
}

.pinkpanther-product-pictures {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: center;
    flex: 1 1;

    @media (min-width: 900px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: flex-start;
    }
}

.pinkpanther-product-image {
    width: 100%;
    max-width: 35rem;
    text-transform: capitalize;
}

.pinkpanther-product-detail-content {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    background-color: $tertiary-color;

    &>*{
        padding: 2rem;
    }
}


.item-descriptor,
.column {
    text-transform: capitalize;
}

.buttons {
    width: 100%;
}

.item-details {
    padding: 1rem;
    width: 100%;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.column {
    flex: 1 1 50%;
    margin: 0.4rem auto;
}

.carats {
    text-transform: lowercase;
}

@media screen and (width <=900px) {
    .item-detail {
        flex-direction: column;
        gap: 0;
    }

    .item-text-container {
        width: auto;
        padding: 0 1rem;
    }
}

@media screen and (width <=395px) {
    .item-pictures-container {
        gap: 0.1rem
    }
}
