@import '../../variables.scss';

.pinkpanther-navigation-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.pinkpanther-sub-navigation {
    display: none;
    position: absolute;
    background-color: $primary-color;
    z-index: 1;
    box-shadow: 0 1px 12px 0 rgb(255 255 255);
    text-align: left;
    margin-top: 1.3rem;
    left: 0;
    right: 0;

    &:hover {
        .pinkpanther-sub-navigation {
            display: block;
        }
    }
}

.pinkpanther-navigation-item {

    &:hover {
        .pinkpanther-sub-navigation {
            display: block;
        }
    }
}

.pinkpanther-sub-navigation-column {
    flex: 0 0 auto;
    min-width: 14rem;
    padding-bottom: 1rem;
}

.pinkpanther-sub-navigation-list {
    display: flex;
    max-width: 1440px;
    padding: 2rem 0;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

/* LEVEL 2 */

.pinkpanther-sub-navigation-list {
    padding: 0;
    text-transform: capitalize;
    letter-spacing: 0;
}

.pinkpanther-sub-navigation-list-item {
    margin: 0.5rem 0;

    &:hover {
        text-decoration: underline;
    }
}

.pinkpanther-sub-navigation-image {
    width: 18rem;
}

.pinkpanther-sub-navigation-cuts {
    width: 25%;
    margin: 0;
    padding: 0;
}

@media screen and (width <=768px) {
    .pinkpanther-navigation-list {
        display: none;
    }
}