@import '../../variables.scss';

.pinkpanther-mobile-nav-toggle {
  display: flex;
  background-color: transparent;
  border: none;
  justify-content: right;

  @media (min-width: 900px) {
    display: none;
  }
}

.pinkpanther-navigation-list {
  display: none;
  flex-direction: column;
  overflow-y: auto;
  z-index: 999;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;

  &>li {
    padding: 1rem 0;
  }

  @media (min-width: 900px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    position: static;
    background-color: transparent;
    width: auto;
    height: auto;
    max-height: none;
  }
}

.pinkpanther-sub-navigation {
  display: none;
  position: absolute;
  background-color: $primary-color;
  z-index: 1;
  box-shadow: 0 1px 12px 0 rgb(255 255 255);
  text-align: left;
  margin-top: 1.3rem;
  left: 0;
  right: 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  text-transform: capitalize;
  gap: 4rem;
  padding: 1.5rem 0;
  top: 12rem;

  @media (min-width: 900px) {
    .pinkpanther-navigation-item:hover > & {
      display: flex;
    }
  }
}

.pinkpanther-navigation-item {
  &>a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.pinkpanther-sub-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  letter-spacing: 0;
  min-width: 14rem;
}

.pinkpanther-sub-navigation-list-item {
  &:hover {
    text-decoration: underline;
  }
}

.pinkpanther-sub-navigation-image {
  width: 18rem;
}

.pinkpanther-navigation-list.-hidden {
  display: none;

  @media (min-width: 900px) {
    display: flex;
  }
}

.pinkpanther-navigation-list.-visible {
  display: flex;

  @media (min-width: 900px) {
    display: flex;
  }
}
