@import '../../variables.scss';

.navigation-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

.sub-navigation {
    display: none;
    position: absolute;
    background-color: $light-background;
    z-index: 1;
    box-shadow: 0 1px 12px 0 rgb(255 255 255);
    text-align: left;
    margin-top: 1.3rem;
    left: 0;
    right: 0;

    &:hover {
        .sub-navigation {
            display: block;
        }
    }
}

.navigation-item {
    padding: 1rem;
    margin: 0;
    border-bottom: 5px solid white;

    &:hover {
        .sub-navigation {
            display: block;
        }
    }
}

.sub-navigation-item {
    flex: 0 0 auto;
    min-width: 14rem;
}

.sub-navigation-filter {
    font-weight: 600;
}

.sub-navigation-list {
    display: flex;
    padding: 2rem 10rem;
    flex-wrap: wrap;
    justify-content: center;
}

/* LEVEL 2 */

.sub-navigation-item-2 {
    padding: 0;
    text-transform: capitalize;
    letter-spacing: 0;
}

p {
    text-transform: capitalize;
}

.sub-navigation-list-2 {
    margin: 0.5rem 0;

    &:hover {
        text-decoration: underline;
    }
}

.sub-navigation-image {
    width: 18rem;
}

.sub-navigation-cuts {
    width: 25%;
    margin: 0;
    padding: 0;
}

@media screen and (width <=768px) {
    .navigation-list {
        display: none;
    }
}
