.navigation__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
}

.navigation__item {
    padding: 1rem;
    margin: 0;
    border-bottom: 5px solid white;
}

.navigation__item:hover {
    font-weight: 400;
}

.navigation__item:hover .sub-navigation {
    display: block;
}

.sub-navigation:hover .sub-navigation {
    display: block;
}

.sub-navigation {
    display: none;
    position: absolute;
    background-color: var(--light-background);
    z-index: 1;
    box-shadow: 0px 1px 12px 0px rgb(255 255 255);
    text-align: left;
    margin-top: 1.3rem;

    left: 0;
    right: 0;
}

.sub-navigation__item {
    flex: 0 0 auto;
    min-width: 14rem;
}

.sub-navigation__filter {
    font-weight: 600;
}

.sub-navigation__list {
    display: flex;
    padding: 2rem 10rem;
    font-size: small;
    flex-wrap: wrap;
    justify-content: center;
}

/* LEVEL 2 */

.sub-navigation__item-2 {
    padding: 0 0;
    text-transform: capitalize;
    letter-spacing: 0;
}

.sub-navigation__list-2 {
    margin: 0.5rem 0;
    font-weight: 300;
}

p {
    text-transform: capitalize;
}

.sub-navigation__list-2:hover {
    text-decoration: underline;
    font-weight: 300;
}

.sub-navigation__image {
    width: 18rem;
}

.sub-navigation__cuts {
    width: 25%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .navigation__list {
        display: none;
    }
}