@import "../../variables.scss";

.pinkpanther-mobile-nav-toggle {
  display: flex;
  background-color: transparent;
  border: none;

  @media (min-width: $desktop-up) {
    display: none;
  }
}

nav > button.pinkpanther-mobile-nav-toggle {
  justify-self: center;
}

.pinkpanther-mobile-close {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #000;
  }
}

@media (min-width: $desktop-up) {
  .pinkpanther-mobile-close {
    display: none;
  }
}

.pinkpanther-navigation-list {
  display: none;
  flex-direction: column;
  overflow-y: auto;
  z-index: 999;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;

  & > li {
    padding: 1rem 0;
  }

  & > button {
    justify-content: right;
  }

  @media (min-width: $desktop-up) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    position: static;
    background-color: transparent;
    width: auto;
    height: auto;
    max-height: none;
  }
}

.pinkpanther-navigation-item {
  & > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.pinkpanther-navigation-list.-hidden {
  display: none;

  @media (min-width: $desktop-up) {
    display: flex;
  }
}

.pinkpanther-navigation-list.-visible {
  display: flex;

  @media (min-width: $desktop-up) {
    display: flex;
  }
}
