@import '../../variables.scss';

.pinkpanther-navigation-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;

    &>li {
        padding: 1rem 0;
    }

    @media screen and (width <=768px) {
        display: none;
    }
}

.pinkpanther-sub-navigation {
    display: none;
    position: absolute;
    background-color: $primary-color;
    z-index: 1;
    box-shadow: 0 1px 12px 0 rgb(255 255 255);
    text-align: left;
    margin-top: 1.3rem;
    left: 0;
    right: 0;

    &:hover {
        .pinkpanther-sub-navigation {
            display: block;
        }
    }
}

.pinkpanther-navigation-item {

    &:hover {
        .pinkpanther-sub-navigation {
            display: flex;
        }
    }
}

/* LEVEL 2 */
.pinkpanther-sub-navigation {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    text-transform: capitalize;
    gap: 4rem;
    padding: 1.5rem 0;
    top: 12rem;
}

.pinkpanther-sub-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    letter-spacing: 0;
    min-width: 14rem;
}

.pinkpanther-sub-navigation-list-item {
    &:hover {
        text-decoration: underline;
    }
}

.pinkpanther-sub-navigation-image {
    width: 18rem;
}

