@import "../../variables.scss";

.pinkpanther-navigation {
  background-color: $tertiary-color;
  padding: 1rem 1rem;

  & *svg {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }

  @media (min-width: $desktop-up) {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }
}
.pinkpanther-navigation-controls {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  opacity: 0.8;
  > * h5 {
    margin: 0;
  }
}

.pinkpanther-nav-icon {
  display: flex;
  background-color: transparent;
  border: none;

  @media (min-width: $desktop-up) {
    display: none;
  }
}

nav > button.pinkpanther-nav-icon {
  justify-self: center;
}

.pinkpanther-mobile-close {
  display: flex;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #000;
  }

  @media (min-width: $desktop-up) {
    display: none;
  }
}

.pinkpanther-navigation-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 999;
  background-color: $tertiary-color;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  transition: opacity 0.4s ease;

  & > li {
    padding: 1rem 1rem;
  }

  & > button {
    justify-content: right;
  }

  @media (min-width: $desktop-up) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    position: static;
    background-color: transparent;
    width: auto;
    height: auto;
    max-height: none;
  }
}

.pinkpanther-navigation-item {
  & > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.pinkpanther-navigation-list.-hidden {
  opacity: 0;

  @media (min-width: $desktop-up) {
    opacity: 1;
  }
}

.pinkpanther-navigation-list.-visible {
  opacity: 1;
}
