@import '../../variables.scss';

.assist-you-wrapper {
    margin-top: 3rem;
}

.form-container {
    text-align: left;
    padding: 0 20%;
}

.form-field {
    margin: 1rem 0;
}

input {
    padding: 0.5rem;
    width: 90%;
    border: 2px solid $secondary-color;
    border-radius: 5px
}
