@import "../../variables.scss";

.pinkpanther-product-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: center;

  @media (min-width: $mobile-up) {
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
  }
}

.pinkpanther-product-image {
  max-width: 16rem;
  border-radius: 15px;
}

.pinkpanther-product-text > * {
  margin: 0;
}

.pinkpanther-product {
  flex: 1 1;
  transition: transform 0.5s;
  width: 100%;
  max-width: 15rem;

  &:hover {
    transform: scale(1.02);
    transition: transform 0.5s;
  }
}
