.pinkpanther-product-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: center;

    @media (min-width: 900px) {
        flex-direction: row;
        justify-content: space-evenly;
        flex: 1;
    }
}

.pinkpanther-product-image {
    max-width: 16rem;
}

.pinkpanther-product-text > * {
    margin: 0;
}

.pinkpanther-product {
    flex: 1 1;
    transition: transform .5s;
    max-width: min-content;

    &:hover {
        transform: scale(1.02);
        transition: transform .5s;
    }
}

