.item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;
}

.item {
    flex: 0 0 20rem;
    transition: transform .5s;
    max-width: min-content;
}

.item:hover .item__img {
    transform: scale(1.02);
    transition: transform .5s;
}

.item__img {
    width: 20rem;
    border: 1px solid var(--light-background);
}

.item__name {
    word-wrap: break-word;
    font-size: small;
    height: 2rem;
}

@media screen and (max-width: 1201px) {

    .item {
        max-width: 16rem;
    }

    .item__img {
        width: 15rem;
    }
}

@media screen and (max-width: 772px) {
    .item {
        max-width: 10.2rem;
    }

    .item__img {
        width: 10rem;
    }

    .item__name {
        height: 2.5rem;
    }

    .item__price {
        margin: 0;
    }
}

@media screen and (max-width: 459px) {
    .item {
        max-width: 8.2rem;
    }

    .item__img {
        width: 8rem;
    }

    .item__name {
        height: 4rem;
    }
}

@media screen and (max-width: 395px) {
    .item {
        max-width: 6.2rem;
    }

    .item__img {
        width: 6rem;
    }

    .item__name {
        height: 6.5rem;
    }
}