@import '../../variables.scss';

.pinkpanther-full-width-cta {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;

    @media (min-width: 1440px) {
        padding: 1rem 0;
    }
}