@import "../../variables.scss";

.pinkpanther-full-width-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
  gap: 3rem;

  & > * {
    max-width: 1440px;
    margin: auto;
  }
}
