@import '../../variables.scss';

.pinkpanther-footer {
    background-color: $primary-color;
    text-align: left;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (min-width: 900px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.pinkpanther-footer-p {
    &.-list {
        list-style: disc;
        padding-inline-start: 2rem;
    }
}

.pinkpanther-footer-techstack {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &>* {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

svg {
    width: 2rem;
    height: 2rem;
}

#react {
    color: deepskyblue;
}

#typescript {
    color: #1976D2;
}

#sass {
    color: #C76495;
}

.pinkpanther-footer-blurb,
.pinkpanther-footer-links,
.pinkpanther-footer-project-info {
    display: flex;
    flex-direction: column;
}


.pinkpanther-footer-links {
    gap: 1.5rem;

    @media (min-width: 900px) {
        padding-left: 3rem;
    }
}

.pinkpanther-footer-icons {
    display: flex;
    gap: 1rem;
}

.pinkpanther-footer-icon {
    transition: .5s;
    &>* { 
            width: 2rem;
            height: 2rem;
        }

    &:hover {
        transition: .5s;
        transform: scale(1.2);
    }
}