@import "../../variables.scss";

hr {
  border: 1px solid #00000041;
  width: 100%;
}

.pinkpanther-footer {
  background-color: $tertiary-color;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem 1rem 2rem 1rem;

  & > h5 {
    margin: 0;
    text-transform: none;
  }

  @media (min-width: $mobile-up) {
    gap: 2rem;
  }
}

.pinkpanther-footer-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;

  & > a {
    text-transform: uppercase;
  }
}

.pinkpanther-footer-end {
  display: flex;
  flex-direction: column;

  & > p {
    margin: 0;
    font-weight: 200;
    font-size: 14px;
  }

  @media (min-width: $mobile-up) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.pinkpanther-footer-icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.pinkpanther-footer-icon {
  transition: 0.5s;
  & > * {
    width: 1.2rem;
    height: 1.2rem;
  }

  &:hover {
    transition: 0.5s;
    transform: scale(1.2);
  }
}
