.pinkpanther-filters {
    white-space: nowrap;
    text-align: left;
}

.pinkpanther-filter-list {
    margin-block-start: 0;
    padding-inline-start: 0;
}

label {
    text-transform: capitalize;
}

label input {
    width: 25%;
}