@import '../../variables.scss';

.pinkpanther-filters {
    white-space: nowrap;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;

    @media (min-width: 900px) {
        flex-direction: column;
        min-width: 8.75rem;
    }
}

.pinkpanther-filter-list {
    margin-block-start: 0;
    padding-inline-start: 0;
    background-color: white;
    padding: 0.5rem;

    &>li {
        padding: 0.1rem 0;
    }
}

label {
    text-transform: capitalize;
}

.pinkpanther-filter-container {
    width: 100%;
}

.pinkpanther-filter-accordion {
    background-color: white;
    border: none;
    border-bottom: 2px solid $tertiary-color;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &>svg {
        width: 1rem;
        height: 1rem;
        margin-left: 1rem;
    }
}