.filters {
    white-space: nowrap;
    font-size: small;
    text-align: left;
}

.filter-name {
    font-weight: 300;
    font-size: small;
}

.filter-list {
    margin-block-start: 0;
    padding-inline-start: 0;
}

label {
    text-transform: capitalize;
}

label input {
    width: 25%;
}