@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import "./variables.scss";

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: uppercase;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  background-color: $background-color;
}

h1 {
  font-size: 44px;
  font-weight: 300;
  letter-spacing: 1px;
}

h2 {
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 1px;
}
h3 {
  font-size: 30px;
  font-weight: 300;
}
h4 {
  font-weight: 300;
  font-size: 24px;
}
h5 {
  font-weight: 500;
  font-size: 22px;
}
h6 {
  font-weight: 600;
  font-size: 17px;
}

p {
  font-weight: 300;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.microcopy {
  text-transform: uppercase;
  letter-spacing: 2px;
}

// Content wrappers
.pinkpanther-shop-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;

  @media (min-width: $desktop-up) {
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}

.pinkpanther-coming-soon {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
}

.pinkpanther-placeholder {
  width: 100%;
  max-width: 40rem;
}

// CTA link underline effect
.pinkpanther-cta-link {
  position: relative;
  display: inline-block;
  font-weight: 400;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: $secondary-color;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
  }

  &::before {
    bottom: -5px;
    transform-origin: left;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

// Utilities
.-dark-theme {
  color: #fff;
}
.-bold {
  font-weight: 500;
}

// Animations
.-fade-in {
  animation: fade-in 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.-fade-in-up {
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInUp;
}
