@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import './variables.scss';

:root {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  $primary-color: #FFECF3;
  $secondary-color: #ED5E79;
  $tertiary-color: #f0eee4;;
  $accent-color: #9C4066;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 52px;
  font-weight: 300;
}

h2 {
  font-weight: 400;
  font-size: 38px;
}

h3 {
  font-size:30px;
  font-weight: 400;
}

h4 {
  font-weight: 400;
  font-size: 24px;
}

h5 {
  font-weight: 500;
  font-size: 20px;
}

h6 {
  font-weight: 600;
  font-size: 17px;
}

p {
  font-weight: 300;
  font-size: 16px;
}

.-microcopy {
  text-transform: uppercase;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: black;
}


.main-title {
  padding: 1rem 0;
}

.header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

.shop-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 1rem 4rem;
}

.bottom-margin {
  height: 2rem;
}

.fade-in {
  animation: fade-in 1s;
}

.contacts-wrapper {
  padding: 0 15%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (width <=1024px) {
  .shop-wrapper {
    margin: 0;
  }
}

.pinkpanther-cta-link {
    position: relative;
    display: inline-block;
    font-weight: 400;
}


.pinkpanther-cta-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: $secondary-color;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.pinkpanther-cta-link::before {
  bottom: -5px;
  transform-origin: left;
}

.pinkpanther-cta-link:hover::before {
  transform: scaleX(1);
}