// Colours
$primary-color: #b88e8d;
$secondary-color: #4a3f39;
$tertiary-color: #bfa898;
$accent-color: #9c4066;
$background-color: #fdf4ee;

// Typography
$font-body: "Poppins", sans-serif;
$font-heading: "Playfair Display", serif;

// Breakpoints
$mobile-up: 600px;
$tablet-up: 900px;
$desktop-up: 1200px;
