@import '../../variables.scss';

.pinkpanther-split-content {
    display: flex;
    flex-direction: column;
    background-color: $primary-color;

    &>* {
        flex: 1 1 50%;
        min-width: 0;
        min-height: 0;
    }

    @media (min-width: 900px) {
        flex-direction: row;
    }
}

.pinkpanther-split-content-image {
    height: auto;
    object-fit: cover;
    aspect-ratio: auto;

    @media (min-width: 900px) {
        
    }
}

.pinkpanther-split-content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.slide-left {
  animation: slide-left 1.5s;
  animation-fill-mode: both;
}

.pinkpanther-split-content-text {
  opacity: 0;
  animation: fade-in 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes slide-left {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.pinkpanther-split-content-link {
    position: relative;
    display: inline-block;
}


.pinkpanther-split-content-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: $secondary-color;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.pinkpanther-split-content-link::before {
  bottom: -5px;
  transform-origin: left;
}

.pinkpanther-split-content-link:hover::before {
  transform: scaleX(1);
}