@import "../../variables.scss";

.pinkpanther-split-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  padding: 2rem;
  max-width: 1440px;
  margin: auto;

  @media (min-width: $tablet-up) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.pinkpanther-split-content-image {
  height: auto;
  object-fit: scale-down;
  aspect-ratio: auto;
  width: 100%;
  height: 100%;

  @media (min-width: $mobile-up) {
    max-width: 30rem;
    margin: auto;
  }
}

.pinkpanther-split-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-left {
  animation: slide-left 1.5s;
  animation-fill-mode: both;
}

.pinkpanther-split-content-text {
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
