@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
  --light-background: rgb(255 236 243);
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  text-transform: uppercase;
  font-weight: 400;
}

.header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}