@import '../../variables.scss';

.pinkpanther-booking-process-wrapper {
    margin: 0 auto;
    background-color: $tertiary-color;
}

.pinkpanther-booking-process {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
    padding: 2rem 2rem;

    &>p {
        padding-bottom: 2rem;
    }
}

.pinkpanther-booking-process-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    margin: 0;
}

.pinkpanther-booking-process-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &>img {
        object-fit: cover;
    }

    @media (min-width: 900px) {
        flex-direction: row;

        &>img {
            max-width: 50%;
        }
    }
}

.pinkpanther-booking-process-card {
    padding: 1rem 2rem;
    flex: 1;
    background-color: white;

    &:hover {
        transform: translateY(-3px);
        transition: 0.5s;
    }
}